* {
  box-sizing: border-box;
  font-family: Volkhov, serif;
}

body {
  background-color: rgb(240, 240, 240);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main h2 {
  font-size: 1.8rem;
  padding: 25px;
  text-align: center;
}

main img {
  height: 400px;
}
